/*reset*/

/*drilldown styles*/

.l_caret{
float:right;
padding:0 5px 0 7px;
background:#eee;
}
.l_drillDown li.hasSubs:hover .l_caret{background:#CCC}
.l_drillDownWrapper{overflow:hidden;position:relative;background:none repeat scroll 0 0 #F9F9F9;border:1px dotted #CCC}
.l_drillDown{list-style:none outside none;position:relative;overflow:visible;margin:0}
.l_drillDown ul{display:none;left:100%;list-style:none outside none;position:absolute;top:0;width:100%;margin:0}
.l_drillDown li{clear:both;border-bottom:1px dotted #CCC;cursor:pointer;display:block;padding:0}
.l_drillDown li.hasSubs{}
.l_drillDown li:last-child{border:medium none}
.l_drillDown a{display:block;padding:9px}
.l_ddbc{background:none repeat scroll 0 0 #F3F3F3;border-bottom:1px dotted #CCC;font-size:11px;font-weight:700;display:none;padding:4px 9px}
.l_drillDown ul.active,.l_drillDown ul.displayed{display:block}