<!--
primer-nombre˜segundo-nombre˜apellido-paterno˜apellido-materno˜direccion˜ciudad˜telefono˜email˜nombre˜fecha-registro
[?[telefono]^^ , Telefono [telefono]?] = <script> if('[telefono]'!=''){ document.write(', Telefono [telefono]')}</script>
!-->
<style type="text/css">
<!--
.Estilo1 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #FF0000;
	font-weight: bold;
	font-size: large;
}
.Estilo2 {
	color: #003;
	font-style: italic;
	font-weight: bold;
}
-->
</style>
<div rawurl="#">
	  <span>
		<h3 align="left">
  <a href="javascript:MostrarVentana('mypopupwindow','[ref]','B&uacute;squeda - Pozos de agua')">
		  <em><img src="images/pozo.png" width="32" height="32" border="0" align="absmiddle" />[categoria]</em> - [titulo]</a>                 
		</h3>
	  </span>
</div>
<div>
El pozo <strong>[nombrepunto]</strong>, pertenece a <span class="Estilo2">[propietario]</span> y se encuetra ubicado en [referencia_ubicacion] municipio de [municipio]
</div>