<!--
codmuestra~nombrepunto~codmonitoreo~propietario~nombrelab~responsablelab~responsablered~municipio~fechatoma
[?[telefono]^^ , Telefono [telefono]?] = <script> if('[telefono]'!=''){ document.write(', Telefono [telefono]')}</script>
!-->
<style type="text/css">
<!--
.Estilo1 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #FF0000;
	font-weight: bold;
	font-size: large;
}
.Estilo2 {
	color: #003;
	font-style: italic;
	font-weight: bold;
}
-->
</style>
<div rawurl="#">
	  <span>
		<h3 align="left">
  <a href="javascript:MostrarVentana('mypopupwindow','[ref]','B&uacute;squeda - Toma de muestras')">
		  <em><img src="images/toma_muestras.png" width="32" height="32" border="0" align="absmiddle" />[categoria]</em> - [titulo]</a>                 
		</h3>
	  </span>
</div>
<div>
La muestra <strong>[codmuestra]</strong>, fu&eacute; tomada en fecha <strong>[fechatoma]</strong> en el punto de muestreo: <strong>[codmonitoreo], [nombrepunto]</strong> municipio de <strong>[municipio]</strong>, por el personal del laboratorio <strong>[nombrelab]</strong> [?[responsablelab]^^ <strong>([responsablelab])</strong>?] [?[responsablered]^^ y el personal del proyecto <strong>([responsablered])</strong>?]. [?[codanalisis]^^ Se ha emitido el informe de an&aacute;lisis Nro. <strong>[codanalisis]</strong> en fecha <strong>[fechaemision]</strong>.?] [?[codanalisis]!^ a&uacute;n no tiene registrado un informe de an&aacute;lisis.?]
</div>