@media (max-width: 600px) {
		.modal-body{ padding:0px}
	.form-horizontal .form-group {
    margin-left: 7px; 
    margin-right: initial; 
	}
}		

@media (max-width: 350px) {
	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 0px;
    padding-right: 15px;
	}
	.modal-dialog{
		margin-right : 0px;
	}

}
@media (min-width: 768px){
  .ewForm.ewSearchForm {
    width: inherit !important;
  }
	#ewModalDialog .modal-dialog {
    width: 85%;
  }
  input[type="text"]:not([size]):not([name="pageno"]):not(.cke_dialog_ui_input_text), input[type="password"]:not([size]) {
    min-width: inherit;
    width : 95%;
  }
  #fuserpriv,.form-control {
      width: inherit;
  }

}

@media only screen and (max-width: 700px) {
  .modal { left:initial;margin-left:4%; max-width:90%; top:40px;height:80%;overflow:auto;min-height:505px}
 }


body{
  background-color:transparent; 
  padding-left:10px;
}
.hide-empty{display:none}
.ewAddEdit.ewAdd,
.ewGridLink.ewInlineUpdate,
.ewAddEdit.ewGridAdd,
.ewAction.ewGridSave,
.ewAction.ewGridInsert,
.ewDetailAdd, /*Personalizando botones de opciones*/
.ewAddOptBtn,
.ewItemList,
.btn-primary,.ewShowAll {
	visibility:hidden;
	opacity:0;
  transition:opacity 0.5s linear;
}

/*checkbox y radio */
.ewItemTable td {
	padding-right: 3px;
}
.radio-inline, .checkbox-inline {
    margin-left: 10px;
}
.checkbox,.checkbox input,
.checkbox-inline,.checkbox-inline input,
.radio-inline, .radio-inline input {
  /*visibility: hidden;*/
}
.checkbox-inline.custom {
	visibility: initial;
}
.checkbox.active,.checkbox-inline.active,.radio-inline.active {
  border-bottom: blue solid 3px;
}
.btn-danger.checkbox.active,.btn-danger.checkbox-inline.active,.btn-danger.radio-inline.active {
  border-bottom: red solid 3px;
}
.checkbox.active:before,.checkbox-inline.active:before,.radio-inline.active:before {
  content: "\e013";
  font-family: 'Glyphicons Halflings';
  margin-right: 3px;
}


label {white-space:inherit !important}

.ewItemList.yes-no {overflow:hidden;height:0px;width:0px;display:inline-block}
/* checkbox estilo iOS7 */
input.iOS7 {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  /* box-shadow: inset 0 0 0px 1px #d5d5d5; */
  border-width: 1.5px;
  border-style: solid;
  border-color: #d5d5d5;
  box-sizing: border-box;
  text-indent: -5000px;
  height: 19px;
  width: 40px;
  border-radius: 15.5px;
  -webkit-appearance: none;
}
input.iOS7:checked {
  border-color: #167ac6;
  -webkit-transition: 0.25s cubic-bezier(0.77, 0, 0.175, 1);
}
/* background OFF */
input.iOS7:before {
  content: "";
  position: absolute;
  display: block;
  height: 18px;
  width: 28px;
  border-radius: 14px;
  top: -1px;
  left: -1px;
  background: rgba(19, 191, 17, 0);
  box-sizing: border-box;
  -webkit-transition: 0.25s cubic-bezier(0.77, 0, 0.175, 1);
}
/* button OFF */
input.iOS7:after {
content: "";
  position: absolute;
  display: block;
  height: 16px;
  width: 16px;
  top: 0px;
  left: 0px;
  border-radius: 14px;
  background: white;
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.4), 0 4px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.2s cubic-bezier(0.77, 0, 0.175, 1);
}
/* background ON */
input.iOS7:checked:before {
 
  width: 38px;
  background: #008dfd;
  /* Old browsers */
  background: -moz-linear-gradient(top, #008dfd 0%, #167ac6 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #008dfd), color-stop(100%, #167ac6));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #008dfd 0%, #167ac6 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #008dfd 0%, #167ac6 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #008dfd 0%, #167ac6 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #008dfd 0%, #167ac6 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008dfd', endColorstr='#167ac6', GradientType=0);
  /* IE6-9 */
}
/* button ON */
input.iOS7:checked:after {
  left: 21px;
}
input.iOS7:focus,
input.iOS7:active {
  outline: 0px !important;
  -webkit-appearance: none;
}
/* FIN : checkbox estilo iOS7 */

/*checkbox estilo youtube */

.yt-uix-checkbox-on-off {
  position: relative;
  display: inline-block;
  width: 35px;
  padding-right: 2px;
  overflow: hidden;
  vertical-align: middle;
}
.yt-uix-checkbox-on-off input[type=checkbox] {
  position: absolute;
  opacity: 0;
  width: 37px;
  height: 15px;
  margin: 0;
}
.yt-uix-checkbox-on-off input[type=checkbox]:checked+label {
  background-color: #167ac6;
}
.yt-uix-checkbox-on-off label {
  display: inline-block;
  border: 1px solid transparent;
  height: 15px;
  width: 100%;
  background: #b8b8b8;
  cursor: pointer;
  border-radius: 20px;
  -webkit-transition: 0.2s cubic-bezier(0.77, 0, 0.175, 1);
}
.yt-uix-checkbox-on-off input[type=checkbox]:checked+label .checked {
  display: inline-block;
  margin-top: 3px;
  margin-left: 6px;
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflQ02J6M.webp) -64px -429px;
  background-size: auto;
  width: 10px;
  height: 7px;
}
.yt-uix-checkbox-on-off input[type=checkbox]:checked+label .unchecked {
  display: none;
}
.yt-uix-checkbox-on-off label .unchecked {
  display: inline-block;
  float: right;
  padding-right: 3px;
}
.yt-uix-checkbox-on-off input[type=checkbox]:checked+label .toggle {
  float: right;
}
.yt-uix-checkbox-on-off label .toggle {
  float: left;
  background: #fbfbfb;
  height: 13px;
  width: 13px;
  border-radius: 13px;
}

/*jqueryfileupload */
.ewUploadTable{
	margin-top : 0px !important;
	min-height:150px;
	min-width:150px;
	display:block;
	background: url('images/pictures.png') no-repeat;
	background-position : 10px 10px;
	float:none !important;
}

.template-download {
	position:relative;
	max-width:220px;
	min-width:210px;
	min-height:220px;
	display:block
}
.template-download td{
	display: list-item;
	list-style-type: none; 
	position:absolute;
	right:0px;
	top:70px;
}

.template-download td.preview{
	right:initial;
	top:0px;
}
.template-download .name{
	top:0px;
}
.template-download .size{
	top:32px;
}
.template-download .name a{
background: url('images/download32.png') no-repeat;
border:none;
width: 32px;
height: 32px;
margin-left:32px;
color: transparent;
display: block;
overflow: hidden;
}

.template-download .delete:before {
    content: "\e020";
    font-family: 'Glyphicons Halflings';
    color:red;
}
.template-download .delete{
	background-image:inherit;
	text-shadow: 0 0px 0;
	background: #e0e0e0;
	color:#e0e0e0;
	width:35px;
  overflow: hidden;
  z-index:2;
}
/* Estilos */
.outlookbutton:hover,
.outlookbutton {
  background-color: #004b8b;
  display: inline-block;
  color: #fff;
  padding: 8px 12px 8px 12px;
  cursor: pointer;
  text-decoration: none;
}
.outlookbutton:hover {
  background: #0072C6;
}
.goobutton {
  background: #0370ea;
  background: -moz-linear-gradient(top, #008dfd 0, #0370ea 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #008dfd), color-stop(100%, #0370ea));
  background: -webkit-linear-gradient(top, #008dfd 0, #0370ea 100%);
  background: -o-linear-gradient(top, #008dfd 0, #0370ea 100%);
  background: -ms-linear-gradient(top, #008dfd 0, #0370ea 100%);
  background: linear-gradient(top, #008dfd 0, #0370ea 100%);
  border: 1px solid #076bd2;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff !important;
  display: inline-block;
  font-size: 13px;
  line-height: 1.3;
  padding: 8px 25px;
  text-decoration: none !important;
  text-shadow: 1px 1px 1px #076bd2;
}
.goobutton:hover {
  background: -moz-linear-gradient(top, #008dfd 30%, #0370ea 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #008dfd), color-stop(100%, #0370ea));
  background: -webkit-linear-gradient(top, #008dfd 30%, #0370ea 100%);
  background: -o-linear-gradient(top, #008dfd 30%, #0370ea 100%);
  background: -ms-linear-gradient(top, #008dfd 30%, #0370ea 100%);
  background: linear-gradient(top, #008dfd 30%, #0370ea 100%);
  cursor: pointer;
}

/*placeholders*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #008dfd;
  opacity: 0.6;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #008dfd;
  opacity: 0.6;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #008dfd;
  opacity: 0.6;
}
:-moz-placeholder { /* Firefox 18- */
  color: #008dfd;
  opacity: 0.6;
}
/**/
.text-del{color:red;text-decoration: line-through;}
.ewBreadcrumbs{background-color:transparent;float:left}
#fuserpriv{ clear: left}
.ewEditForm, .ewAddForm, .ewSearchForm {clear : left;}
.box{background: transparent}

/* desktop */
/* @media (min-width: 768px) {
 .ewForm .form-control{max-width:98% !important;}
} */

/* tooltip link */
.ewTooltipLink{
  border-bottom: 1px dashed;
  color: inherit;
  cursor: default;
}

/*transform vertical tables */
table.vertical-table { 
  border-collapse: collapse; }
.vertical-table > thead { 
  display: none; }
.vertical-table > thead > tr, .vertical-table > tbody > tr{ 
  display: block; padding: 0.5em; 
 
}
.vertical-table > thead > tr > td,  .vertical-table > tbody > tr > td{ 
  display: block; }
.vertical-table > tbody > tr:nth-child(even) { 
  background-color: #E0E0E0; }
.vertical-table > tbody > td:not(:last-child) { 
  border-bottom: 1px solid #DDD; }

@media screen and (min-width: 300em) {
  .vertical-table > thead { 
    display: table-header-group; }
  .vertical-table > thead > th:not(:last-child) { 
    border-right: 1px solid #999; }
  .vertical-table > thead > tr, .vertical-table > tbody tr { 
    display: table-row; padding: 0; }
  .vertical-table > thead > tr > td, .vertical-table > tbody > tr > td  { 
    display: table-cell; }
  .vertical-table > tbody > td:not(:last-child) { 
    border-bottom: none; 
    border-right: 1px solid #DDD; }
}

/* float info labels */
.float-info .label{
  position: relative;
  top: -10px;
  right: 9px;
  text-align: center;
  font-size: 9px;
  padding: 2px 3px;
  line-height: .9;
}
/* efecto sombra 3D */
.shadow-b{
  -webkit-box-shadow: 0px 10px 21px 0px rgba(50, 50, 50, 0.41);
  -moz-box-shadow:    0px 10px 21px 0px rgba(50, 50, 50, 0.41);
  box-shadow:         0px 10px 21px 0px rgba(50, 50, 50, 0.41);
}

/* Tab Navigation 
.nav-tabs {
  margin: 0;
  padding: 0;
  border: 0;    
}
.nav-tabs > li > a {
  background: #DADADA;
  border-radius: 0;
  box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
  background: #F5F5F5;
  box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);
}
*/
/* Tab Content 
.tab-pane {
  background: #F5F5F5;
  box-shadow: 0 0 4px rgba(0,0,0,.4);
  border-radius: 0;
  text-align: center;
  padding: 10px;
}*/

.nav-tabs { border-bottom: 2px solid #DDD; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
    .nav-tabs > li > a { border: none; color: #666; }
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
        .nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px}
.card {background: #FFF none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 30px; }
/*************************************
Correcciones de barra de scrooll en iframe
**************************************/
.modal[role=dialog]{overflow-y:hidden}